.last_section{
    background-color: black;
  }
  .footerpos{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000; 
        background-color: #FFF;
        border-top: 1px solid;
        height: 50px;
        display: flex;
        left:0px;


  }
  .paragraph{
text-align: center;
margin-left:30px;
margin-top:20px ;

  }

  .links{
text-align: right;
margin-left:1200px;
margin-top:10px ;


  }
  .logo_image {
    width: 40px;
    margin-left: 20px;
  }
  .button{
    text-align: right;
    margin-top:15px ;


}