body{
    fill: #FFF;   
 }
.header{
    color: white;
    background-color: red;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 30px;
    }
.sub-header{
color: #0F2F70;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 20px;
margin-top: 70px;

    }
.blog-header{
color: #000;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
margin-left: 20px;
    }
    .list{
    list-style-type: none ;
    display: flex;
    justify-content: center;
    /*flex flow short for flex direction and flex wrap*/
    flex-flow: nowrap;
    }
    .item{
    text-align: center;  
    /* width made the words expand*/
    width: 90px;
    font-weight: 500;
    margin: 20px;
    padding:10px ;
    border-radius: 10px;
    background-color: rgb(201, 197, 197);
    }
    .d_flex{
    display: flex;
    justify-content: center;
    
    
    }
    .btn{
        color: azure;
        border-radius: 8px;
        background: var(--Main, #427AE8); 
        border-radius: 6px;
        width: 100px;
        border: none;
        padding: 10px;
        margin-left: auto;
        margin-right: -20px;
        display: block;
    }
    

.dr{
    margin-right:20px;
 }
    .container{
    background-color: white;
    margin: 12px ;
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    margin-top: 10px;
    border-color: #0F2F70;
    border-radius: 16px;
border: 3px solid #0F2F70;
    }

    .image{
    display: flex;
    width: 300px;
    border-radius: 10px;
    height:250px;
    
    }
    /* this is not used in this code*/
    .d_inline {
        display: inline-block;
    }